.g-container-list
    margin 4pt
.g-container-list th
.g-container-list td
    padding 8pt
    margin 1pt
    text-align right
    background-color #e0e0e0
.g-collection-create-button
    margin-right 15px