.g-container-list
    margin 4pt
.g-container-list th
.g-container-list td
    padding 8pt
    margin 1pt
    text-align right
    background-color #e0e0e0
.g-collection-create-button
    margin-right 15px

.g-transfers-sidebar
    float right
    width 280px
    height 100%
    border 1px solid #808080
    background-color #ffffff
    box-shadow 4px 4px 2px #a0a0a0
    top 0px
    padding 8px

.g-transfer-list
    width 100%

.g-transfer-list td
    padding 4pt
    background-color #f0f0f0
    width 100%

.g-transfer-progress-container
    position relative
    height 16pt
    width 100%
    border thin solid black
    border-radius 2pt

.g-transfer-progress-text
    position absolute
    top 0px
    left 0px
    color black
    z-index 1
    width 100%
    text-align center

.g-transfer-progress-bar
    position absolute
    top 0px
    left 0px
    height 14pt
    background-color #8080ff
    text-align center
    border-radius 2pt
    z-index 0